<ion-header>
  <ion-toolbar>
    <ion-title>
      Weather App
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-item>
    <ion-label position="floating">Enter City</ion-label>
    <ion-input [(ngModel)]="city"></ion-input>
  </ion-item>

  <ion-button expand="full" (click)="getWeather()">Get Weather</ion-button>

  <div *ngIf="weather">
    <h2>{{ weather.name }}</h2>
    <p>Temperature: {{ weather.main.temp }}°C</p>
    <p>Weather: {{ weather.weather[0].description }}</p>
  </div>
</ion-content>
